#allProductPageWrapper {
    display: flex;
    flex-direction: column;
    width: 95vw;
}

#productShowContainer {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    height: 70vh;
    justify-content: space-between;
    border: 2px solid yellow;
}


#mainPictureContainer {
    width: 50%;
    border: 2px solid orange;
}

#descriptionContainer {
    width: 50%;
    border: 2px solid green;
}

.productContainer {
    padding: 10px;
}

.productPrice {
    font-weight: bold;
    font-size: 1.2em; 
}

#reviewButton {
    margin-top: 20px;
    position: relative;
    left: 7.3%;
    background-color: black;
    color: white;
    /* border: none; */
    width: 200px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#reviewButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.05)
}

#reviewsContainer {
    /* position: relative;
    left: 7.3%; */
    width: 85%;
    margin-left: 7.3%;
    border: 2px solid green;
}

.reviewCard {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 645px;
    border-bottom: solid grey;
}

#updateRevButton {
    position: relative;
    left: 3%;
    bottom: 5px;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    /* border: none; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

#deleteRevButton {
    position: relative;
    bottom: -34px;
    left: 12%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    /* border: none; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

#deleteRevButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#updateRevButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}