#mainNavContainer {
  position: relative;
  height: 15vh;
  max-width: 100vw ; 
  background-color: #ffffff; 
  border-bottom: 4px solid gray;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


#bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

#topContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  padding: 0px 10px;
}

#topContainer > * {
  margin-right: 10px;
}

#categoriesButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  position: relative;
  top: 2%;
}

#homeNavEtsTwo {
  color: #f1641e;
  text-decoration: none;
  font-size: 28px;
}

#categoriesButton:hover {
  background-color: rgba(169, 169, 169, 0.5);
}

#navSearch input {
  margin-right: 5px;
}

#searchInput {
  width: 800px;
  height: 20px;
  padding: 8px; 
  border: 2px solid #ccc; 
  border-radius: 20px;
}

#searchSubmit {
  background-color: #f1641e; 
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  cursor: pointer;
  right: 5%;
  position: relative;
  right: 5%;
}

#searchSubmit i {
  color: white;
}

#bottomContainer {
  display: flex;
}

#bottomNavButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#bottomNavButton:hover {
  background-color: rgba(169, 169, 169, 0.5);
}

#signInNav{
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  right: 2%;
}

#signInNav:hover {
  background-color: rgba(169, 169, 169, 0.5);
}
  
