.profile-container {
  position: relative;
  display: inline-block;
}

#profileIcon {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 200%;
  position: relative;
  right: 40%;
  transition: all 0.2s ease;
}

#profileIcon:hover {
  transform: scale(1.05);
}

.profile-dropdown {
  font-family: Arial, sans-serif;
  list-style: circle;
  padding: 3.5vh;
  background-color: royalblue;
  color: #fff;
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 5vh;
  margin-top: -5vh;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.profile-dropdown li {
  margin-bottom: 1vh;
}

#logoutButton {
  background-color: #fff;
  color: royalblue;
  border: 1px solid royalblue;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1vh;
}

#logoutButton:hover {
  transform: scale(1.02);
}


